<html>
	<head>
		<title>Patches Programming Language</title>
		<link rel="stylesheet" href="/styles/patches.css" />
		<script type="module" src="/scripts/patches.js"></script>
	</head>
	<body>
		<main>
			<h1>Patches Programming Language</h1>
		</main>
	</body>
</html>
