<html>
	<head>
		<title>Patches Programming Language</title>
		<link rel="stylesheet" href="/styles/patches.css" />

		<script type="importmap">
{
	"imports": {
		"antlr4": "/scripts/antlr4.web.mjs"
	}
}
		</script>

		<script type="module" src="/scripts/patches.js"></script>
	</head>
	<body>
		<main>
			<h1>Patches</h1>

			<form id="patches">
				<textarea></textarea>

				<input type="submit" />
			</form>

			<pre id="memory"></pre>

		</main>
	</body>
</html>
